{{ define "header" }}
  <header>
    <div><dark-mode-toggle id="dark-mode-toggle" remember="Remember preference"></dark-mode-toggle></div>
    {{ "<!-- For more information on microformats, read the source code comments -->" | safeHTML }}
    <div class="center h-card vcard">
      <!--
        For basic h-card validation, visit 'Publishing on the IndieWeb' at
        https://indiewebify.me/validate-h-card/

        For complete results, try parsing this page with the 'PHP Microformats Parser'
        at https://pin13.net/mf2/

        Examples for writing 'backward compatible' h-card markup available at
        https://microformats.org/wiki/microformats2#authoring
      -->
        <h1><a class="p-name fn u-url url" href="/">{{ .Site.Params.author.name }}</a></h1>
      </a>
      <!--
        New properties (including gender identity) listed at
        https://microformats.org/wiki/rfc-6350
      -->
      <h3>
        Pronouns:
        <span class="p-gender-identity gender">{{ .Site.Params.author.pronouns }}</span>
      </h3>
      <p class="p-note">
        I am a data enthusiast skilled in data management, qualitative and
        quantitative research methods, and low-code automation. My research interests
        include disability and health, poverty and social policy, and social
        vulnerability to climate change. I am also an advocate for digital rights and
        free culture, and I maintain <a href="/resources/">a page with useful resources</a>.
      </p>
      <img
        class="u-photo photo"
        src="/me.jpg"
        alt="Photo of an East Asian man wearing a dark gray suit and a floral tie"
        title="{{ .Site.Params.author.name }}"
      />
      <p>
        My guiding principles draw from disability justice and the ethics of care;
        these principles shape my approach to understanding and addressing complex
        social issues.
      </p>
    </div>
  </header>
{{- end }}

{{ define "main" }}
  <main>
    <div class="center">
      <h2>Where should you go from here?</h2>
      <p>
        <a class="btn" href="/links/">&#128226; I found these current events and recent articles interesting.</a>
      </p>
      <p>
        <a class="btn" href="/now/">&#128198; I regularly write updates on what I'm doing now.</a>
      </p>
      <p>
        <a class="btn" href="/resources/">&#x1F4DA; You can browse my recommended resources.</a>
      </p>
      <h2>Elsewhere</h2>
      <a class="link-linkedin" target="_blank" rel="me noopener noreferrer" href="{{ .Site.Params.author.LinkedIn }}">
        <img class="linkedin" src="/img/icon/linkedin.svg"
          alt="Open my LinkedIn profile in a new tab or window">LinkedIn
      </a>
      <a class="link-letterboxd" target="_blank" rel="me noopener noreferrer" href="{{ .Site.Params.author.Letterboxd }}">
        <img class="letterboxd" src="/img/icon/letterboxd.svg"
          alt="Open my Letterboxd profile in a new tab or window">Letterboxd
      </a>
    </div>
  </main>

<footer>
  <div class="center">
    <br>
    <a class="link-000" target="_blank" rel="noopener noreferrer" href="https://ForTheBadge.com/">
      <img
        src="/img/built-with-love.svg"
        alt="This site was built with love, using Git and Hugo."
        title="I also used Git and Hugo."
      />
    </a>
    <a class="link-000" target="_blank" rel="noopener noreferrer" href="{{ .Site.Params.license }}">
      <img
        src="/img/CC-BY-SA.svg"
        alt="Original content by {{ .Site.Params.author.name }} is licensed under {{ .Site.Copyright }}"
        title="{{ .Site.Params.copyrightMessage }}"
      />
    </a>
    <p>
      <b>
        <a class="u-email email" rel="me" href="mailto:{{ .Site.Params.author.email }}">Contact me</a>.
        <a href="/privacy/" >Privacy</a>.
        <a target="_blank" rel="pgpkey noopener noreferrer" href="/ethan.asc">Public key</a>
        <a target="_blank" rel="noopener noreferrer" href="https://keyoxide.org/{{ .Site.Params.author.email }}">(Keyoxide)</a>.
      </b>
    </p>
    <a class="link-nextcloud" target="_blank" rel="noopener noreferrer" href="https://nextcloud.com/sharing#eyoo@share.mayfirst.org">
      <img
        src="/img/icon/nextcloud.svg"
        class="nextcloud"
        alt="Share with me via Nextcloud!"
        title="Federated Cloud ID makes it possible to share across Nextcloud and other Open Cloud Mesh (OCM) compatible servers!"
      />
      Share with me via Nextcloud!
    </a>
    <p>&#128421; <a href="/hosting/" ><em>Where is this website hosted?</em></a> &#128421;</p>
    <p><em>This website's contents do not necessarily reflect the views of any organization with which I am affiliated.</em></p>
  </div>
</footer>

{{ "<!-- For more content -->" | safeHTML }}
<link rel="me" href="{{ .Site.Params.author.Forgejo }}" />
<link rel="me" href="{{ .Site.Params.author.GitLab }}" />
<link rel="me" href="{{ .Site.Params.author.Mastodon }}" />
{{- end }}
