<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default " en-US" }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title itemprop="name">{{ if eq .Title .Site.Title }}{{ .Site.Title }}{{ else }}{{ with .Title }}{{.}} from {{ end }}{{ .Site.Title }}{{- end }}</title>
  <meta property="og:title" content="{{ if eq  .Title  .Site.Title }}{{ .Site.Title }}{{ else }}{{ with .Title }}{{.}} from {{ end }}{{ .Site.Title }}{{ end }}" />
  {{ with .Site.Params.author.name }}<meta name="author" content="{{ . }}">{{ end }}
  {{- if .IsPage }}
    <meta property="og:type" content="article">
    {{- with .PublishDate }}<meta property="article:published_time" {{ .Format "2006-01-02" | printf "content=%q" | safeHTMLAttr }}>{{- end }}
    {{- with .Lastmod }}<meta property="article:modified_time" {{ .Format "2006-01-02" | printf "content=%q" | safeHTMLAttr }}>{{- end }}
  {{- else if .IsHome }}
    <meta property="og:type" content="website">
    {{ $newPublishDate := .Site.Params.initDate }}
    {{ $newPublishDate = time.AsTime $newPublishDate }}
    {{- with $newPublishDate }}<meta property="article:published_time" {{ .Format "2006-01-02" | printf "content=%q" | safeHTMLAttr }}>{{- end }}
    {{- with .Lastmod }}<meta property="article:modified_time" {{ .Format "2006-01-02" | printf "content=%q" | safeHTMLAttr }}>{{- end }}
  {{- else }}
     <meta property="og:type" content="website">
     {{- with .Lastmod }}<meta property="article:modified_time" {{ .Format "2006-01-02" | printf "content=%q" | safeHTMLAttr }}>{{- end }}
  {{- end}}
  {{- with .Description }}
    <meta name="description" content="{{ . }}">
    <meta property="og:description" content="{{ . }}" />
  {{ else }}
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta property="og:description" content="{{ .Site.Params.description }}" />
  {{- end }}
  <link rel="icon" type="image/png" href="/favicon.png" />
  {{- with .RelPermalink }}
    <meta name="url" content="{{ . }}" />
    <meta property="og:url" content="{{ . }}" />{{- end }}
  <link rel="webmention" href="https://webmention.io/ethanyoo.com/webmention" />
  {{- with .OutputFormats.Get "RSS" -}}{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}{{ end }}
  <link rel="stylesheet" href="/css/style.css?rnd={{ now.Unix }}">
  <noscript id="dark-mode-toggle-stylesheets">
    <link rel="stylesheet" media="(prefers-color-scheme: dark)" href="/css/dark.css?rnd={{ now.Unix }}">
    <link rel="stylesheet" media="(prefers-color-scheme: light)" href="/css/light.css?rnd={{ now.Unix }}">
  </noscript>
  <script src="/js/dark-mode-toggle/stylesheets-loader.js"></script>
  <script type="module" src="/js/dark-mode-toggle/theme.mjs"></script>
  <script defer src="/js/script.js" data-website-id="815a72d3-9985-408d-a47e-e8f12b47bc00" data-host-url="https://analytics.ethanyoo.com" data-domains="ethanyoo.com"></script>
</head>
<body>
  {{- if .IsHome }}
    {{- block "header" . }}{{- end}}
  {{- else }}
    {{ partial "header" . }}{{ partialCached "search.html" . }}{{- end }}
  {{- block "main" . }}{{ end }}
  {{ if not .IsHome }}{{ partial "footer" . }}
  {{- end }}
</body>
</html>
