{{ define "main" }}
	<main>
{{ $listtitle := .Title }}{{ if or .Title .Content }}
		<div>
		{{ with .Title }}<h1>{{ . }}</h1>{{ end }}
		{{ with .Content }}<div>{{ . }}</div>{{ end }}
		</div>
{{- end }}

		<p><strong>Because I post <a href="/links/">current events</a>, it might be helpful to browse <a href="/categories/">by month</a> or <a href="/tags/">by tag</a>.</strong></p>

		<ul>
{{ range .Pages }}
			<li>
			<div class="post-title">{{ if eq $listtitle "Links" }}{{ .Date.Format "January 2006" }} <a href="{{ .RelPermalink }}">{{.Title }}</a>{{ else }}<a href="{{ .RelPermalink }}">{{.Title }}</a>{{ end }}</div>
			</li>
{{ end }}
		</ul>

	</main>
{{ end }}
