{{ define "main" }}
	<main>
		<article>
			<h1>{{ .Title }}</h1>
			<b><time>{{ dateFormat "2006-01-02 15:04 MST" .Date.Local }}</time></b>
			<a href="/tags/">Tags</a>:
{{ range .Params.tags }}
			<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}.</a>
{{ end }}
			<div>
			{{ .Content }}
			</div>
		</article>
	</main>
{{ partial "sidebar.html" . }}
{{ end }}
