<article>
	<h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
	<b><time>{{ .Date.Format (default "2006-01-02 15:04 MST" .Site.Params.dateFmt) }}</time></b>
	{{ range .Params.tags }}
	<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
	{{ end }}
	<div>
		{{ .Summary }}
		{{ if .Truncated }}<a href="{{ .Permalink }}">Read more?</a>{{ end }}
	</div>
</article>
