/* Dark theme */
:root {
	color-scheme: dark;
	background-color: #10151a;
	color: #d3dae3;
}

a,
a.link {
	color: #ace;
}

header a:link,
header a:visited,
footer a:link,
footer a:visited,
aside a:link {
	color: #fff;
}

a:hover {
	background: #cae6ef;
	text-decoration: underline dotted;
	border: 1px solid;
}

.p-note a:visited,
main a:visited,
aside a:visited {
	color: #fff;
}

code {
	background: #ccc;
	color: #000;
	font: 1em/1.5 monospace, monospace;
	padding: 2px;
}
