/* Light theme */
:root {
	color-scheme: light;
	background-color: #f2f2f2;
	color: #000;
}

header a:link,
header a:visited,
footer a:link,
footer a:visited,
aside a:link {
	color: #000;
}

a:hover {
	background: #cae6ef;
}

.p-note a:visited,
main a:link {
	color: #004962;
}

.p-note a:visited,
main a:visited,
aside a:visited {
	color: #542baa;
}

code {
	background: #ccc;
	color: #000;
}
