#search-form {
	display: block;
	position: fixed;
	top: 5px;
	right: 5px;
	margin: 5px;
	padding: 2rem;
	min-width: var(--icon-size, 1.5rem);
	max-width: 10rem;
	max-height: 100vh;
	z-index: 1000;
}
#search-form.search--display,
#search-form[data-focus='false'] .search--display {
	display: none;
}
#search-form[data-focus='true'] .search--display {
	display: block;
}
#search-form .search-bar {
	display: flex;
	height: 1.4rem;
	align-items: center;
}
#search-form .search-bar {
	color: rgb(var(--text-color, '3,3,3'));
}
#search-form[data-focus='true'] .search-bar {
	border: 2.5px solid rgb(var(--accent-color, '0,0,255'));
}
#search-form[data-focus='true'] .search-bar:not(:focus-within) {
	color: rgb(var(--page-color, '240,240,240'));
	border-color: rgb(var(--text-color, '3,3,3'));
}
#search-input {
	display: block;
	padding: 0.3rem;
	width: 15rem;
	max-width: 100vw;
	height: 100%;
	background: inherit;
	border: none;
	color: inherit;
	outline: none;
	text-align: left;
	/* font-size: var(--s-2, 0.8rem); */
}
#search-submit:hover,
#search-submit:focus {
	color: rgb(var(--accent-color, '0,0,255'));
}
#search-results {
	display: block;
	flex-grow: 2;
	margin: 0.5px 0 0 0;
	padding: 0;
	max-height: calc(100vh - 1.4rem - 0.5px);
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	backdrop-filter: blur(var(--page-color-blur, 2px));
	border: 2.5px solid;
	color: rgb(var(--text-color, '3,3,3'));
	font-size: var(--s-2, 0.8rem);
	scrollbar-color: rgb(var(--text-color, '3,3,3')) rgb(var(--page-color, '240,240,240')) !important;
	scrollbar-width: thin !important;
}
#search-results:empty {
	display: none;
	opacity: 0;
}
#search-results li {
	margin: 0;
	width: 100%;
	border-top: 0.5px dashed;
	list-style: none;
}
	#search-results li:first-child {
	border: none;
	}
#search-results a {
	display: block;
	padding: 0.3rem;
	display: block;
	text-decoration: none;
	color: #6787C9;;
}
#search-results a:focus {
	color: rgb(var(--page-color, '240,240,240'));
	outline: 0;
}
#search-results a:active {
	color: rgb(var(--page-color, '240,240,240'));
}
#search-results li span:empty {
	display: none;
}
#search-results li span:not(:last-child)::after {
	content: ' – ';
}
#search-results li .title {
	display: block;
	margin-bottom: calc(var(--line-height, 1.4em)/3);
}
#search-results li .title::after {
	display: none;
}
