html {
	overflow-y: scroll;
}
a,
a:link {
	text-decoration: none;

}
a:hover {
	text-decoration: underline dotted;
	border: 1px solid;
}
body {
	font: 1em/1.5 sans-serif;
	margin: 2em auto;
	max-width: 50em;
	padding: 0 2em;
}
h2,
main h1 {
	text-align: center;
}
h1 {
	font-size: 2em;
	line-height: 1;
}
h2 {
	font-size: 1.75em;
}
h3 {
	font-size: 1.5em;
}
article,
main {
	padding: 4px 2px;
}
blockquote {
	padding: 0.25em 1.5em;
	background: #ddd;
	color: #000;
	border-radius: 4px;
}
code {
	background: #000;
	font: 1em/1.5 monospace, monospace;
	padding: 2px;
}
img[src$='#center'] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.post-title {
	line-height: 1.8;
}
.subtitle {
	float: right;
}
#dark-mode-toggle {
	line-height: 0px;
}
a.link-000 {
	background: transparent;
	border: none;
}
.letterboxd {
	display: inline-block;
	width: 1em;
	margin-right: 0.25em;
	vertical-align: middle;
}
a.link-letterboxd {
	padding: 0.5em;
	background-color: #202830;
	border-radius: 3px;
	padding-left: 0.25em;
}
.linkedin {
	display: inline-block;
	width: 1em;
	margin-right: 0.25em;
	vertical-align: middle;
}
a.link-linkedin {
	padding: 0.5em;
	background-color: #0077b5;
	border-radius: 3px;
	margin-right: 0.5em;
	padding-left: 0.25em;
	color: #fff;
}
.nextcloud {
	width: 50px;
	height: 30px;
	position: relative;
	top: 8px;
	background-size: contain;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
}
a.link-nextcloud {
	padding: 10px;
	background-color: #0082c9;
	color: #fff;
	border-radius: 3px;
	padding-left: 4px;
}
.btn {
	display: block;
	margin: 0.5em auto;
	padding: 0.5em;
	border: none;
	border-radius: 3px;
	background-color: #ff8000;
	color: #000;
	cursor: pointer;
	width: fit-content;
}
.btn:hover {
	background-color: #d15d27;
}
a.btn:hover {
	text-decoration: none;
	border: none;
}
a.btn:link,
a.btn:visited {
	color: #000;
}
a.link-letterboxd:link,
a.link-letterboxd:visited,
a.link-linkedin:link,
a.link-linkedin:visited {
	color: #fff;
}
