<header>
	<h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
	<div class="subtitle">{{ .Site.Params.subtitle }}</div>
	<nav><p><b>
		<a href="/">Start</a>.
{{- with .Site.Menus.main }}{{ range . }}
		<a href="{{ .URL | relURL }}">{{ .Name }}</a>.
{{- end }}</b>
	<div><dark-mode-toggle id="dark-mode-toggle" remember="Remember preference"></dark-mode-toggle></div>
	</nav>
{{- end }}
</header>
