	<aside>
		<div>
			<div><h3>Latest posts</h3></div>
			<div>
				<ul>
{{- range first 2 .Site.RegularPages }}
					<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
{{- end }}
				</ul>
			</div>
		</div>
	</aside>
